[Desktop Entry]
Version=1.0
Name=pgAdmin III
Comment=PostgreSQL Administration Tools
Comment[es]=Herramienta de Administración para PostgreSQL
Exec=pgadmin3
Icon=pgadmin3
Terminal=false
Type=Application
Categories=Qt;KDE;GNOME;Application;Development;
MimeType=text/x-sql
