[Desktop Entry]
Version=1.0
Name=Power*Architect
Comment=Data Modeling & Profiling Tool
Comment[es]=Herramienta de Modelado y Análisis de Performance de Datos
Exec=power-architect
Icon=power-architect
Terminal=false
Type=Application
Categories=Qt;KDE;GNOME;Application;Development;
