[Desktop Entry]
Version=1.0
Name=Launch4J
Comment=Cross-platform Java executable wrapper
Comment[es]=Envolvedor de ejecutables Java multiplataforma
Exec=launch4j
Icon=launch4j
Terminal=false
Type=Application
Categories=Qt;KDE;GNOME;Application;Development;
MimeType=
